<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Consumir API</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/consumir_api.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<header class="main-header">

    <div class="logo">
        <div class="logo-badge">SC</div>
        <span>ShopCompare</span>
    </div>

    <!-- BOTON CERRAR SESION -->
<a href="{{ url_for('logout') }}" class="logout-btn">
    <i class="fa-solid fa-right-from-bracket"></i>
    Cerrar Sesión
</a>

</header>

<main class="content-wrapper">
    <h2>Explorador de Datos: ShopCompare</h2>

    <section class="api-config-panel">
        <h3>Configuración de Acceso</h3>

<div class="config-item">
    <label>Endpoint (URL):</label>
    <div class="data-box">
        {{ url_for('api_v1_completo', _external=True) }}
    </div>
</div>

    <div class="config-item">
        <label>API Key:</label>
        <div class="data-box">{{ api_key }}</div>
    </div>

        <div class="doc-action">
            <a href="#" class="doc-btn">
                Ver documentación
            </a>
        </div>
    </section>
</main>

<div id="docModal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Documentación ShopCompare</h3>
        
        <div class="doc-body">
            <h4>¿Qué es ShopCompare?</h4>
            <p>ShopCompare es una API REST diseñada para centralizar la información de productos. Permite realizar comparaciones de precios en tiempo real entre las siguientes tiendas disponibles</p>
            <h4>Tiendas Disponibles</h4>
            <ul>
                <li>Bodega Aurrera</li>
                <li>Chedraui</li>
                <li>Soriana</li>
            </ul>
            
            
            <h4>Datos Disponibles</h4>
            <ul>
                <li><strong>Tienda y Sucursal:</strong> Identificación del comercio y su ubicación física.</li>
                <li><strong>Producto:</strong> Nombre y descripción detallada del artículo.</li>
                <li><strong>Precio:</strong> Valor actualizado al momento de la consulta.</li>
                <li><strong>Timestamp:</strong> Hora exacta de la última actualización de datos.</li>
            </ul>

            <h4>Método de Conexión</h4>
            <p>Utiliza peticiones <code>GET</code> y <code>POST</code>  enviando <code>API Key</code> en el header de autorización.</p>
        </div>
    </div>
</div>

</body>
</html>

{% include "modales/cerrar_sesion.html" %}

<script>
    const modal = document.getElementById("docModal");
    const btn = document.querySelector(".doc-btn");
    const span = document.querySelector(".close-btn");

    btn.onclick = (e) => { e.preventDefault(); modal.style.display = "block"; }
    span.onclick = () => { modal.style.display = "none"; }
    window.onclick = (event) => { if (event.target == modal) modal.style.display = "none"; }
</script>