<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<body>

<a href="{{ url_for('panel_visitante') }}" class="back-btn">
<i class="fa fa-arrow-left"></i>
</a>

<!-- MENSAJES DESDE FLASK CON CATEGORIAS -->

<div class="alert-container">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for category, message in messages %}
<div class="alert-box alert-{{ category }}">
{{ message }}
</div>
{% endfor %}

<script>
setTimeout(()=>{
document.querySelectorAll(".alert-box").forEach(msg=>{
msg.style.display="none";
});
},3000);
</script>

{% endif %}
{% endwith %}

</div>

<!-- SPINNER -->

<div class="spinner-container" id="spinner">
<div class="spinner"></div>
<span>Verificando credenciales...</span>
</div>

<div class="login-container" id="loginBox">

<h2>Iniciar Sesión</h2>

<form method="POST" id="loginForm">

<div class="input-group">
<i class="fa fa-envelope icon-left"></i>
<input type="email" name="correo" placeholder="Correo electrónico" required>
</div>

<div class="input-group">
<i class="fa fa-lock icon-left"></i>
<input type="password" id="password" name="password" placeholder="Contraseña" required>
<i class="fa fa-eye toggle-password" id="togglePassword"></i>
</div>

<button class="login-btn">Ingresar</button>

<div class="extra">
<a href="{{ url_for('recuperar_password')}}">¿Olvidaste tu contraseña?</a>
<br>
<a href="{{ url_for('registro')}}">¿No tienes cuenta?</a>
</div>

</form>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>