<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ShopCompare | API</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/panel_visitante.css') }}">
</head>

<body>

<header class="main-header">

<div class="logo">
<div class="logo-badge">SC</div>
<span>ShopCompare</span>
</div>

<a href="{{ url_for('login') }}">
<button class="login-btn">Iniciar Sesión</button>
</a>

</header>

<main class="content-wrapper">

<h1 class="api-title">ShopCompare API</h1>

<p class="api-description">
Consulta y compara precios de productos entre diferentes supermercados
utilizando la API de ShopCompare.
</p>

<p class="json-title">
Ejemplo de respuesta JSON
</p>

<div class="json-viewer-container">
<pre id="json"></pre>
</div>

</main>

<script src="{{ url_for('static', filename='js/panel_visitante.js') }}"></script>

</body>
</html>