<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
</head>
<body>

<!-- MENSAJES ARRIBA CENTRADOS -->
<div class="flash-container">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
</div>

<!-- CONTENEDOR DE REGISTRO -->
<div class="register-container">
<h2>Crear Cuenta</h2>
<form method="POST" action="{{ url_for('registro') }}" autocomplete="off">

<div class="input-group">
<i class="fa fa-user icon-left"></i>
<input type="text" name="nombre" placeholder="Nombre completo" required>
</div>

<div class="input-group">
<i class="fa fa-envelope icon-left"></i>
<input type="email" name="correo" placeholder="Correo electrónico" required>
</div>

<div class="input-group">
<i class="fa fa-lock icon-left"></i>
<input type="password" id="password" name="password" placeholder="Contraseña" autocomplete="new-password" required>
<i class="fa fa-eye toggle-password" id="togglePassword"></i>
</div>

<div class="input-group">
<i class="fa fa-lock icon-left"></i>
<input type="password" id="confirmPassword" name="confirmar" placeholder="Confirmar contraseña" autocomplete="new-password" required>
<i class="fa fa-eye toggle-password" id="togglePassword2"></i>
</div>

<button type="submit" class="register-btn">Registrarse</button>

<div class="extra">
<a href="{{ url_for('login')}}">¿Ya tienes cuenta? Inicia sesión</a>
</div>

</form>
</div>

<script src="{{ url_for('static', filename='js/registro.js') }}"></script>

</body>
</html>