<div id="docModal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Documentación ShopCompare</h3>
        
        <div class="doc-body">
            <h4>¿Qué es ShopCompare?</h4>
            <p>ShopCompare es una API REST diseñada para centralizar la información de productos. Permite realizar comparaciones de precios en tiempo real entre las siguientes tiendas disponibles</p>
            <h4>Tiendas Disponibles</h4>
            <ul>
                <li>Bodega Aurrera</li>
                <li>Chedraui</li>
                <li>Soriana</li>
            </ul>
            
            
            <h4>Datos Disponibles</h4>
            <ul>
                <li><strong>Tienda y Sucursal:</strong> Identificación del comercio y su ubicación física.</li>
                <li><strong>Producto:</strong> Nombre y descripción detallada del artículo.</li>
                <li><strong>Precio:</strong> Valor actualizado al momento de la consulta.</li>
                <li><strong>Timestamp:</strong> Hora exacta de la última actualización de datos.</li>
            </ul>

            <h4>Método de Conexión</h4>
            <p>Utiliza peticiones <code>GET</code> y <code>POST</code>  enviando <code>API Key</code> en el header de autorización.</p>
        </div>
    </div>
</div>